<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
		<action name="dispJoin_extendAdminIndex" type="view" standalone="true" admin_index="true" />
		<action name="dispJoin_extendAdminAgreeConfig" type="view" standalone="true" />
		<action name="dispJoin_extendAdminExtendVarConfig" type="view" standalone="true" />
		<action name="dispJoin_extendAdminRestrictionsConfig" type="view" standalone="true" />
		<action name="dispJoin_extendAdminAfterConfig" type="view" standalone="true" />
		<action name="dispJoin_extendAdminJuminConfig" type="view" standalone="true" />
		
		<action name="getJoin_extendAdminColorset" type="view" standalone="true" />
		<action name="procJoin_extendAdminInsertConfig" type="controller"  />
		<action name="procJoin_extendAgree" type="controller"  />
    </actions>
</module>
