<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <actions>
		<action name="dispMember_join_extendAdminIndex" type="view" standalone="true" admin_index="true" />
		<action name="procMember_join_extendAdminInsertConfig" type="controller"  />
		<action name="procMember_join_extendAgree" type="controller"  />
    </actions>
</module>
